// Colors -------------------

$white: #FFFFFF;
$tan: rgb(244, 222, 188);
$blue: rgb(105, 139, 188);
$light-blue: rgb(100, 181, 251);
$dark-transparent: rgba(0, 0, 0, 0.3);
$tan-transparent: rgba(244, 222, 188, 0.4);
$light-blue-transparent: rgba(100, 181, 251, 0.4);
$green: #214E34;
$greenTwo: rgb(17, 33, 1);
$greenThree: #196F3D;
$greenFour: rgb(128, 148, 40);

// Animations ---------------



// Media Queries ------------

$tablet: "screen and (max-width: 705px)";

// Misc ---------------------
